.footer-wrapper {
  background-color: #f5f5f7;
  color: #1d1d1f;
  font-size: 12px;
  line-height: 1.45337;
  font-weight: 400;
  letter-spacing: -0.0024em;
}
.paragraph-wrapper {
  border-bottom: 1px solid #d2d2d7;
  padding: 18px 0 12px;
  font-family: "inter", sans-serif;
  color: #1d1d1f;
}
.paragraph-wrapper p {
  margin-bottom: 0;
  padding-bottom: 0.8em;
  opacity: 0.8;
}
.paragraph-wrapper.paragraph-wrapper a {
  text-decoration: none;
  color: #424245;
}
.paragraph-wrapper a:hover {
  text-decoration: underline;
}
.sub-footer-wrapper {
  padding: 0 4%;
}
.footer-links-wrapper {
  padding-top: 20px;
  opacity: 0.8;
}
.footer-links-wrapper ul {
  list-style: none;
}
.footer-links-wrapper ul li {
  padding: 5px 0;
  font-size: 00.9em;
}
.footer-links-wrapper ul li a {
  color: #424245;
  text-decoration: none;
}
.footer-links-wrapper ul li a:hover {
  text-decoration: underline;
}
.footer-links-wrapper h4 {
  font-size: 1.2em;
  font-weight: 600;
  line-height: inherit;
  font-family: inherit;
  color: #1d1d1d;
}

.more-ways {
  padding-bottom: 10px;
  margin-bottom: 5px;
}
.more-ways a {
  text-decoration: none;
  color: dodgerblue;
}
.more-ways a:hover {
  text-decoration: underline;
  color: dodgerblue;
}
.copy-right-wrapper {
  padding: 4% 0;
}
.copy-right {
  opacity: 0.8;
  font-size: 1em;
}
.last-link ul li {
  border-right: 1px solid #d2d2d7;
  margin-right: 7px;
  padding-right: 10px;
  display: inline-block;
  margin-top: 5px;
  white-space: nowrap;
  opacity: 0.8;
}
.last-link ul li:last-child {
  border-right: 0px;
}
.last-link ul li a {
  text-decoration: none;
  color: #424245;
  font-size: 1em;
}
.last-link ul li a:hover {
  text-decoration: underline;
}
.usa-link {
  margin-top: 10px;
  padding-bottom: 10px;
}
.usa-link a {
  text-decoration: none;
  color: #424245;
  font-size: 1em;
}
.usa-link a:hover {
  text-decoration: underline;
  color: #424245;
}
@media only screen and (min-width: 769px) {
  .sub-footer-wrapper {
    padding: 0 3%;
  }
  .footer-links-wrapper {
    display: flex;
    justify-content: space-between;
  }
}
@media only screen and (min-width: 1025px) {
  .sub-footer-wrapper {
    width: 980px;
    margin: 0 auto;
    padding: 0;
  }
  .footer-links-wrapper {
    display: flex;
    justify-content: space-between;
  }
}
@media (max-width: 768px) {
  .footer-links-wrapper ul {
    display: none;
  }
  .footer-links-wrapper h4 {
    border-bottom: 2px solid #d2d2d7;
    padding: 10px 0;
    color: #1d1d1f;
  }
  .minu:after {
    font-family: "FontAwesome";
    font-weight: 900;
    content: "\f067";
    font-size: 10px;
    float: right;
    clear: both;
  }
  .expanded:after {
    font-family: "FontAwesome";
    font-weight: 900;
    content: "\f00d";
    font-size: 10px;
    float: right;
    clear: both;
  }
  .nav-item {
    text-align: left !important;
    padding: 4px 0;
    border-bottom: 2px solid #4b4b4b;
  }
}


/*____________________///this is media query break point for copy-right-wrapper///_____________________*/
@media only screen and (min-width: 768px) {
  .usa-link {
    float: right;
    position: relative;
    z-index: 2;
  }
  .copy-right {
    padding-top: 10px;
  }
  .more-ways {
    border-bottom: 1px solid #d2d2d7;
    padding-bottom: 20px;
  }
}
@media only screen and (min-width: 875px) {
  .last-links-wrapper {
    display: flex;
    padding-top: 10px;
  }
  .copy-right {
    padding-top: 0px;
  }
  .last-link ul li {
    margin-top: 0px;
  }
  .last-link {
    margin-left: 30px;
  }
}
/* footer css end here */
