.row {
  color: black;
}
img {
  width: 100%;
  object-fit: contain;
}
.blackDescription {
  color: black;
  opacity: 0.8;
}
.rowHeading {
  text-align: center;
  font-weight: bolder;
  color: #1d1d1f;
  opacity: 0.8;
  /* padding-top: 50px; */
}
.imageWrapper {
  padding: 20px;
}
.bottomTextField {
  position: relative;
  top: 50%;
}
.rowTwopartOne p {
  text-align: center;
  font-size: 24px;
  line-height: 1.67;
  font-weight: 400;
  letter-spacing: 0.009em;
  color: black;
}
.rowTwoDescription {
  text-align: center;
  font-size: 24px;
  line-height: 1.67;
  font-weight: 400;
  letter-spacing: 0.009em;
}
/*____________________///the first media query break point begin here///_____________________*/

.rowTwoImgOne {
  background-image: url("https://apple-clone-fed80.web.app/static/media/tile_airpods_lg_2x.280efc16.jpg");
  height: 580px;
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}
.rowImgOne .rowDescription {
  color: black;
}
.rowTwoImgTwo {
  background-image: url("https://apple-clone-fed80.web.app/static/media/tile_applefitness+_lg_2x.6ad7c817.jpg");
  width: 100%;
  height: 580px;
  text-align: center;
  color: white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.rowImgTwo h1,
.rowDescription {
  color: white;
}
/*____________________///the 2nd media query break point begin here///_____________________*/

@media (min-width: 700px) {
  .row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin-top: 2rem;
  }
}
